*{
    box-sizing: border-box;          
}

body{
    font-family: 'Nunito', sans-serif;
    margin:0;
}

#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    font-size: 30px;
    line-height: 80px;
    color: black;
    float: left;
}

nav{
    float: right;
    line-height: 80px;
}

nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color: black;
}

nav a:hover{
    border-bottom: 2px solid black;
}

nav a:visited{
    text-decoration: none;
    margin-right: 25px;
    color: black;
}

.ikon{
    margin-right: 16px;
    font-size: 16px;
}

#anasayfa{
    background-color: gray;
    height:750px;
    background-image: url("../img/banner1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hakkimizda{
    background-color: #d3d3d3;
    padding:55px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

h3{
    font-size:50px;
    color: black;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

.contanier{
    width:1200px;
    height: auto;
    margin: auto;
}

#sol{
    float: left;
    border-right:3px solid #445c6e;
    font-size:30px;
    width: 400px;
    color: #445c6e;
    
}

#h5sol{
    line-height:1.6;
    font-size:25px;
    font-weight: 600;
}

#h5sol, #sag{
    margin:0;
    padding:0;
    margin-top:20px;
}

span{
    font-size:50px;
    margin-left: 30px;
    line-height: 42px;
    color:  #445c6e;
    font-weight: 600;
    float: left;
}

#sag{
    color: #445c6e;
    text-align: center;
    letter-spacing:1px;
    font-size:18px;
    line-height: 1.8;
    font-weight: 100;
}

#psag{
    margin-right: 300px;
}

.img-fluid{
    height: auto;
    max-width: 100%;
    
}

.mt100{
    margin-top:100px;
}

#pson{
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.8;
    color: #445c6e;
    font-weight: 100;
}

#sporayakkabi{
    background-color: #fff;
    padding: 100px;
    text-align: center;
    height: 700px;
}

.card{
    width: 320px;
    height: 420px;
    border:1px solid #ddd;
    padding:0;
    display: inline-block;
}

.baslikcard{
    font-size: 15px;
    color: #003666;
}

.cardp{
    color: #888;
}

.card:hover{
    border: 2px solid black;
}

#gunlukayakkabi{
    background-color: #fff;
    padding: 100px;
    text-align: center;
    height: 700px;
}

#botcizme{
    background-color: #fff;
    padding: 100px;
    text-align: center;
    height: 700px;
}

.social{
    color: white;
    border:1px solid white;
    padding: 10px;
    width: 50px;
    border-radius:10px;
    margin:5px 10px;
}

#iletisim{
    background: url(../img/iletisim.jpg);
    background-size: cover;
    padding: 50px;
    height: auto;
    text-align: center;
    margin-top: 200px;
}

#h3iletisim{
    color: white;
}

#iletisimopak{
    background: rgba(255,255,255,0.2);
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 50px;
    height: 550px;
}

#formgroup{
    width: 700px;
    float: left;
    height: 500px;
    text-align: left;
}

#solform{
    width: 50%;
    float: left;
    padding-right: 5px;
}

#sagform{
    width: 50%;
    float: right;
    padding-left: 5px;
}

.form-control{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

textarea{
    font-family: Arial;
}

#adres{
    width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
}

#adresbaslik{
    font-size: 30px;
    color: white;
}

.adresp{
    color: #ddd;
    font-size: 15px;
    letter-spacing: 1.5px;
}

#copyright{
    color: #007FFF;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

#up{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 15px;
    padding: 9px 12px;
    margin-top: 20px;
}

input[type="submit"]{
    cursor: pointer;
    background-color: #445c6e;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color: white;
    border:2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

#anasosyal{
    padding: 50px;
    height: auto;
    text-align: center;
    margin-top: 200px;
}